
body{
    font-family: sans-serif;
    overflow-x: hidden;
}
 body a , li a{
    text-decoration: none;
    cursor: pointer;
}
ul, li{
    list-style: none;
}
.fs-7{
    font-size: 14px;
}
.fs-8{
    font-size: 12px;
}
/*******************************  header   *****************************************/
.nav {
  background-color:var(--bg-header);
  position: relative;
}
/******************** language **************/
.language-box {
    position: fixed;
    top:8%;
    left:60%;
    width:380px;
    background-color: var(--bs-white);
    color: var(--bg-header);
    z-index: 1000;
    padding: 20px;
    opacity: 0;
    overflow-y: auto;
    max-height: 90vh;
}

.language-list {
    list-style-type: none;
    padding: 0;
}

.language-list li {
    margin-bottom: 10px;
}

.language-list li label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-list li label:hover {
    background-color: #f0f0f0;
}

.language-box.show {
    opacity: 1;
    transform: translateX(0%);
}
/*************************************************form**************************************/
.input-group , .menu .btn:hover{
    color:var(--bg-header);
    }
.dropdown-category{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
}
.dropdown-category > li:hover{
   background-color: var(--bs-info);
}
.dropdown-category li{
   border-bottom: 1px solid var(--bs-info);
   margin: 5px;
   padding: 10px;
   color:var(--bg-header);
}
.dropdown-category a{
    color:var(--bg-header);
 }
.dropdown-category li:last-child{
    border-bottom: none;
}

.dropdown-category.show {
    display: block;
}
/*******Category selection**********/


/**************************************************menu*************************/
.menu{
   background-color: var( --bg-menu);
}
.dropdown-menu li:hover{

    background-color: var( --bs-light);
}
.dropdown-menu{
    position: fixed;
    top: 0;
    left: 0;
     opacity: 0;
     width: 380px;
     transform: translateX(100%);
     transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
     z-index: 1000;
}
.dropdown-menu.show {
    opacity: 1;
    transform: translateX(0%);
}
.title-menu  {
    width:100%;
    max-height:90vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    position: relative;
    padding: 10px;
}
.title-menu .fa-angle-right{
   position: absolute;
   left:88%;
}
.title-menu > ul{
    padding-bottom: 15px;
    border-bottom: 2px solid var(--bs-gray-300);
}
.title-menu > ul:last-child{
    border-bottom: none;
}
/**************** main menu **************/
.main-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 300px;
    width: 300px;
    height: 100vh;
    background-color: white;
    color:black;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 900; 
}
.main-menu.show {
    transform: translateX(0);
}

.title-main-menu {
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 20px);
}
.title-main-menu h3 {
    margin-top: 20px;
    color: white;
}


/* *************************************** slider*************************** */
.slider{
    width: 100%;
    height: 450px;
    box-shadow:100px 100px 100px var(--bs-info);
    background-size: cover;
    

}
.chevron {
   width: 100%;
   height:250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider .chevron  button{
    width: 80px; 
    height: 250px;
    font-size:3rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background:none;
    border-radius: 15px;
}
/******************************************* products *********************************/
.products-list{
    margin:0 18px;
}
.product {
    width: 280px;
    height:550px;
    border: 1px solid var(--b--bs-gray-400s-gray);
    font-size: 14px;
    background-size: cover;
  }
  .product-img{
    width: 100%;
    height: 250px;
    background-color: var(--bs-white);
    border-bottom:2px solid var(--bs-gray-300);
  }
 
  .products-list{
    height: 100%;
  }
  .product .original-price {
    text-decoration: line-through;
  }



/**************************************** footer *****************************************/
.back-to-top{
    background-color: var(--bg-menu);
}
.footer{
    width: 100%;
    background-color: var(--bg-header); 
}
.footer li > a:hover{
   border-bottom:1px solid var(  --bs-info) ;
}
.footer-down{
    border-top: 1px solid var(--bs-gray);

}
.footer-down button{
    border: 2px solid var(--bs-gray);
    background:none;
    border-radius: 5px; 
    
}


